@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

:root {
    font-size: 100%;
    --banner-size: 200px;
}

body {
    font-family: 'Libre Baskerville';
}

#page-banner {
    position: fixed;
    background-color: #FFFEDB;
    width: 100%;
    height: 250px;

    margin-top: -250px;
}

#topleft {
    float:left;
    position: relative;
    top: 100px;
    left: 30px;
    width: 150px;
    height: 150px;
}

#title {
    float: left;
    margin-top: 120px;
    margin-left: 400px;
}

#links {
    float: left;
    margin-top: 20px;
    margin-left: 570px;
}

#resume {
    background-color: white;
    margin-top: 150px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #965830;
}

nav {
    text-align: center;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    color: #965830;
}