@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

:root {
    font-size: 100%;
    --banner-size: 150px;
}

body {
    font-family: 'Libre Baskerville';
}


a {
    color: #FFF1C6;
}

a:visited {
    color: #CCB260;
}

h2 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #436180;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFF1C6;
}

#topleft {
    float: left;
    width: 5.5%;
    height: 5.5%;
    padding-right: 5%;
}

#page-banner {
    color: #FFF1C6;
    position: sticky;
    top: 0;
    width: 98.92%;
    padding: 10px;
    background: #436180;
    text-align: start;
}

#email-link {
    color: blue;
}


.sub-body {
    padding-left: 2.5%;
    font-size: 150%;
}

.resume {
    background: #FFF1C6;
    border-radius: 10px;
    scroll-margin-top:var(--banner-size);
}














